{% extends "layout.html" %} {% block content %}
<div>
  <h1 class="h1 pt-1 text-center">Attendance Tracking System</h1>
  <br /><br /><br />
  <p class="display-6">
    Automated Facial Recognition System for classroom attendance, leveraging
    cutting-edge technology to capture real-time classroom images at 10-minute
    intervals. This innovative system harnesses advanced facial detection
    algorithms to precisely mark students' attendance by detecting and
    distinguishing their faces with remarkable accuracy. Through the integration
    of FaceNet and MTCNN Models, we ensured robust facial recognition
    capabilities, enabling seamless identification in dynamic classroom
    environments. <br /><br />To enhance the system's efficacy, a comprehensive
    dataset comprising images of 114 MCA students in diverse poses was
    meticulously curated. This dataset served as the cornerstone for training
    and refining the facial recognition model, resulting in an impressive 90%
    accuracy rate during initial testing. Furthermore, ongoing refinement
    efforts and future plans include the implementation of dynamic thresholding
    techniques and dataset augmentation strategies, aimed at continuously
    improving performance and adaptability. <br /><br />In parallel, a dynamic
    web application was developed using Flask, a powerful framework for Python,
    to complement the facial recognition system. This user-friendly web
    interface provides educators with intuitive tools for attendance tracking
    and management, facilitating seamless access to attendance records and
    enhancing overall administrative efficiency. Through the fusion of
    state-of-the-art technology and user-centric design, our solution offers a
    holistic approach to attendance monitoring, empowering educators to focus on
    what truly matters – fostering engaging and impactful learning experiences.
  </p>
</div>

{% endblock content%}
